@page "/battleship"

<div class="game" style="display:inline-flex; justify-content:space-around">
<div class="player-board board-box" width="45%">
    <PlayerBoard />
</div>
<div class="computer-board board-box" width="45%">
    <ComputerBoard />
</div>
</div>
@code {

}
